/*

Add styles or override variables from the theme here.

*/

/* 
SCSS RGB
- Created with https://coolors.co/
- Based on IBDS colors
*/
// IBDS green
$india-green: rgba(57, 135, 12, 1);
// IBDS lightgreen
$honeydew: #e1eddbff;
// IBDS blue
$honolulu-blue: #007bc7;
$celadon: #BBD6AE;
$sandy-brown: #F7eed0;
$vanilla: #EDD996;
$african-violet: #DABFFF;
$light-yellow: #f7ffe0ff;
$fairy-tale: #eac4d5ff;
$english-violet: #654f6fff;
$ultra-violet: #5c5d8dff;
$light-cyan: #DDF7FF;
$non-photo-blue: #99E7FF;
$misty-rose: #FFE0D6;
$atomic-tangerine: #FFA385;
$burnt-sienna: #DE6B48;

$primary: $india-green;
$secondary: $honeydew;
$info: $honolulu-blue;

$capability-root: $african-violet;
$capability-interop: $sandy-brown;
$capability-interop-part: $vanilla;
$capability-vertrouwen: $misty-rose;
$capability-vertrouwen-part: $atomic-tangerine;
$capability-datawaarde: $honeydew;
$capability-datawaarde-part: $celadon;
$capability-governance: $light-cyan;
$capability-governance-part: $non-photo-blue;

$capability-selected: $india-green;