<!-- {{ $scss := resources.Get "scss/_styles_project.scss" }}
{{ $style := $scss | resources.ToCSS | resources.Fingerprint }} -->
{{ $color := .Get "color" | default "primary" }}
<div class="col p-3 m-2 bg-{{ $color }}">
    {{ with .Get "link" }} <a class="text-dark" href="{{ . }}"> {{ end }}
    <div><b>{{ .Get "label" }}</b></div>
    {{ with .Get "desc" }} <div>{{ . }}</div>{{ end }}
    {{ with .Get "link" }} </a> {{ end }}
    {{ if strings.ContainsNonSpace .Inner }}
        <div class="container-fluid row">{{ .Inner }}</div>
    {{ end }}
</div>